#carouselExampleCaptions {
    max-height: 600px; 
    max-width: 1296px; 
    overflow: hidden;
    .carousel-indicators {
      button {
        background-color: #fff;
        &.active {
          background-color: #007bff;
        }
      }
    }
  
    .carousel-inner {
      .carousel-item {
        img {
          filter: brightness(0.8);
          transition: transform 0.5s ease;
          height: auto;
          max-height: 500px;
          object-fit: cover;
          width: 100%;
        }
        &.active img {
          transform: scale(1.05);
        }
      }
  
      .carousel-caption {
        position: absolute;
        bottom: 20px; 
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
        h5 {
          color: #fff;
        }
        p {
          color: #ddd;
        }
      }
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1);
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      &:hover {
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          filter: invert(0.5);
        }
      }
    }
  }
  .blur {
    filter: blur(5px); /* Aplica un desenfoque de 5px */
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(2, 2,2, 4); /* Desenfoque de 4px con sombra negra */
}
.clicable img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
  cursor: pointer; /* Cambia el cursor a pointer para indicar que es clicable */
  opacity: 0.9; /* Ligera opacidad */
}

.clicable img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  opacity: 1; /* Restaura la opacidad */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Añade un sombreado */
  border-color: black;
  border-width: 2px;
}
